<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile_2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,80}}</string>
                <key>sourceSize</key>
                <string>{65,80}</string>
            </dict>
            <key>missile_2-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{65,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,80}}</string>
                <key>sourceSize</key>
                <string>{65,80}</string>
            </dict>
            <key>missile_2-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{65,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,80}}</string>
                <key>sourceSize</key>
                <string>{65,80}</string>
            </dict>
            <key>missile_2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{65,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,80}}</string>
                <key>sourceSize</key>
                <string>{65,80}</string>
            </dict>
            <key>missile_2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{65,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,80}}</string>
                <key>sourceSize</key>
                <string>{65,80}</string>
            </dict>
            <key>missile_2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,84},{65,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,80}}</string>
                <key>sourceSize</key>
                <string>{65,80}</string>
            </dict>
            <key>missile_2-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,84},{65,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,80}}</string>
                <key>sourceSize</key>
                <string>{65,80}</string>
            </dict>
            <key>missile_2-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,84},{65,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,80}}</string>
                <key>sourceSize</key>
                <string>{65,80}</string>
            </dict>
            <key>missile_2-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{65,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,80}}</string>
                <key>sourceSize</key>
                <string>{65,80}</string>
            </dict>
            <key>missile_2-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,166},{65,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,80}}</string>
                <key>sourceSize</key>
                <string>{65,80}</string>
            </dict>
            <key>missile_2-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,166},{65,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,80}}</string>
                <key>sourceSize</key>
                <string>{65,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missile_2.png</string>
            <key>size</key>
            <string>{270,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a06682b5c0c678c9fcfdbcbc7aace9dc:08604611869984d16e7147d5494fc923:d639827c320639849347fd36973e8bc8$</string>
            <key>textureFileName</key>
            <string>missile_2.png</string>
        </dict>
    </dict>
</plist>
