<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rush-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{32,51}</string>
            </dict>
            <key>rush-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{32,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{32,51}</string>
            </dict>
            <key>rush-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{32,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{32,51}</string>
            </dict>
            <key>rush-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{32,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{32,51}</string>
            </dict>
            <key>rush-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{32,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{32,51}</string>
            </dict>
            <key>rush-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{32,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{32,51}</string>
            </dict>
            <key>rush-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{32,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{32,51}</string>
            </dict>
            <key>rush-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{32,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{32,51}</string>
            </dict>
            <key>rush-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{32,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{32,51}</string>
            </dict>
            <key>rush-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{32,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{32,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rush.png</string>
            <key>size</key>
            <string>{70,55}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:536220dbd89e5a811a09fd6dfc907938:047bfc2a1665200dd36c9b6a4f5d5a22:02f8d06365eccb8c1b07649298be2897$</string>
            <key>textureFileName</key>
            <string>rush.png</string>
        </dict>
    </dict>
</plist>
